<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ibeaver.dao.ProjectMapper">

    <resultMap id="projectsList" type="project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="shorthand" property="shorthand" />
        <result column="description" property="description" />
        <result column="base_url" property="baseUrl" />
        <result column="open" property="open" />
        <result column="owner" property="owner" />
        <result column="return_format" property="returnFormat" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
    <sql id="projectAllColumns">
        id, name, shorthand, description, base_url, open, owner, return_format, create_time, update_time
    </sql>
    <sql id="projectColumnsExpectId">
        name, shorthand, description, base_url, open, owner, return_format, create_time, update_time
    </sql>
    
    <insert id="addProject" parameterType="project" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO epd.project
        (<include refid="projectColumnsExpectId" />)
        VALUES
        (#{name}, #{shorthand}, #{description}, #{baseUrl}, #{open}, #{owner}, #{returnFormat}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteProjectByShorthand" parameterType="string">
        DELETE FROM epd.project WHERE shorthand = #{shorthand}
    </delete>

    <update id="updateProject" parameterType="project">
        UPDATE epd.project
        <trim suffixOverrides=",">
            <set>
            <if test="name != null and name.length() > 0">
                name = #{name},
            </if>
            <if test="description != null and description.length() > 0">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="baseUrl != null and baseUrl.length() > 0">
                base_url = #{baseUrl},
            </if>
            <if test="open != null">
                open = #{open},
            </if>
            <if test="owner != null">
                owner = #{owner},
            </if>
            <if test="returnFormat != null and returnFormat.length() > 0">
                return_format = #{returnFormat},
            </if>
            </set>
        </trim>
        WHERE shorthand=#{shorthand}
    </update>

    <select id="getProjectByShorthand" parameterType="string" resultType="project">
        SELECT
        <include refid="projectColumnsExpectId" />
        FROM epd.project WHERE shorthand = #{shorthand}
    </select>

    <select id="getProjects" resultMap="projectsList">
        SELECT
        <include refid="projectColumnsExpectId" />
        FROM epd.project
        /*WHERE owner=#{owner} or open=1*/
        ORDER BY create_time DESC
    </select>

    <select id="getProjectById" parameterType="int" resultType="project">
        SELECT
        <include refid="projectColumnsExpectId" />
        FROM epd.project WHERE id=#{id}
    </select>

</mapper>